.CFUserTextEncoding
.DS_Store
.bash_history
.bashrc~
.bowerrc
.cache
.config
.cups
.dirs
.dropbox
.editorconfig
.emacs-backup
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/lisp
.emacs.d/projectile-bookmarks.eld
.eshell
.git
.gitconfig
.grails
.grails_history
.gvm
.jshintrc
.lesshst
.local
.m2
.node-gyp
.npm
.ssh
.subversion
.swp
.travis.yml
.Trash
.viminfo
.zshrc
Desktop
Dev
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
